# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Output files
results/
filtered_results/
*.csv
/*.json
!package.json
!package-lock.json
!frontend/package.json
!frontend/package-lock.json
/*.html
!frontend/index.html

# macOS
.DS_Store

# Firebase
firebase-debug.log

# Env
.env
.env.local
build/
dist/
*.spec
instance/
*.db
